<!DOCTYPE html>
<html lang='fr'>
<head>
    <title>FEpdf - Fusion</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/MainWin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="animate-in">
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="row text-center">
            <div class="navbar-brand">
                <img src="images/logo.svg" alt="logo" width="50" height="50	"/>
            </div>
            <div class="navbar-navbar" ><h2>Fusion</h2></div>
        </div>
    </div>
</div>
</div>
<div class="container col-sm-10 col-sm-offset-1">

    <div class="row well">
        <form action="/fusion/upload" method="post" enctype="multipart/form-data">

            <div class="col-sm-6 text-center" >
                <div>
                    <div class="row text-right">
                        <button type="button" class="btn btn-md btn-default" style="margin:2.5%" onclick="addNewFile(); addListenerZoneMobile(NBFILE);"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>

                    <div>

                        <div class="col-sm-12" >

                            <div class="text-left"><b>Importer un fichier : </b></div>


                            <div class="upload-drop-zone" id='drop-zone'>
                                <i class="glyphicon glyphicon-download-alt" style="font-size: 30px; margin-right: 10px;"></i>
                                <b id="zoneDropText">Glisser-Déposer un PDF.</b>
                            </div>


                            <div class="text-left"><b>Ou parcourez vos fichiers:</b></div>
                            <div style=" overflow-y:scroll;height:300px; "  id="zone_nbFile">
                                <div class="newplace" id="firstplace" ondragover='this.className="newplace dragover";' ondragleave='this.className="newplace";' ondrop='this.className="newplace"; insererDebut();'></div>
                                <div class="text-left" id="zoneMobile0" >
                                    <div class="contenant" id="contenant0">
                                        <p style="margin : 0 0 0 20px;" class="noSelection" >Selectionner un PDF à fusionner</p>


                                        <i class="glyphicon glyphicon-trash trashbtn" id="trash0" onclick="trashFILE(0)"></i>
                                        <i class="glyphicon glyphicon-move movebtn" id="tiretMove0" draggable="true" ></i>
                                        <div class="input-group" style="margin-bottom:2px;">

                                            <input type="text" class="form-control" placeholder="Chemin vers fichier" id="inputPath0" disabled style="cursor: text">
                                            <div class="input-group-btn">

                                                <input id="fileInput0" class="fileInput" accept="application/pdf" type="file" name="upload" style="display:none;" />
                                                <input type="button" class="btn btn-default"  value="Parcourir" onclick="searchinput(0);"/>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="newplace" id="newplace0"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                <div class="row progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-lg btn-primary " style="margin-left:10%;margin-right:10%;">Annuler</button>

                    <button type="submit" id="validButton" value="Upload" class="btn btn-lg btn-primary " disabled style="margin-left:10%;margin-right:10%;" onclick="alertSave()">Valider</button>
                </div>


            </div>

        </form>
    </div>
    <div class="col-sm-6 visible-md visible-lg" style="text-align:center;">

        <div class="row text-right">
            <button type="button" class="btn btn-md btn-primary" style="margin:1%;"><i class="glyphicon glyphicon glyphicon-refresh"></i></button>
        </div>

        <div class="row view-pdf" id="zone-pdf">

        </div>


        <div class="row">
            <button type="button" class="btn btn-md btn-primary " style="margin-left:5%;margin-right:5%;" onclick="prevPage()"><i class="glyphicon glyphicon glyphicon-arrow-left"></i></button>
            <button type="button" class="btn btn-md btn-primary " style="margin-left:5%;margin-right:5%;">Selectionner</button>
            <button type="button" class="btn btn-md btn-primary " style="margin-left:5%;margin-right:5%;" onclick="nextPage()"><i class="glyphicon glyphicon glyphicon-arrow-right"></i></button>
        </div>
    </div>
</div>
</div>
<div class="container-fluid">
</div>
<script type="text/javascript" src="javascripts/Main.js"></script>

<footer>
    Maxime CHAREYRON - Nahel CHAZOT - Alexandre DONNE - Jérome MASSARD - Ivan SCHMIDT
</footer>
</body>
</html>