*{
margin:0;
padding :0;
}

.animate-in {
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
}

.animate-out {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.upload-drop-zone {
    color:#ccc;
    height: 500px;
    border-width: 2px;
    margin-bottom: 20px;
    border-style: dashed;
    border-color:#ccc;
    text-align: center;
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.upload-drop-zone.dragover {
    height: 500px;
    border-width: 2px;
    margin-bottom: 20px;
    color:#222;
    border-style: dashed;
    border-color:#222;
    text-align: center;
    background-color: white;
}

.newplace {
    color:#ccc;
    height: 15px;
    position: relative;
    text-align: center;
}

.newplace.dragover {
    border-width: 2px;
    border-style: dashed;
    border-color:#ccc;
    height: 50px;
}

footer{
text-align:center;
font-style:italic;
font-size:12px;
}


.movebtn{
    position: relative;
    float: left;
    margin: 5px;
    cursor: move;
    font-size: 20px;
}

.trashbtn{
    position: relative;
    float: left;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
}

.movebtn:hover,.trashbtn:hover {
    color: grey;
}

.noSelection {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-pdf{
    color: #ccc;
    background-color: #be3126;
}



#input {
    /*Important*/
    /*position: absolute;*/
    /*Important*/
    cursor: pointer;
    left: 0px;
    top: 0px;
    /*Important This is only comment out for demonstration purposes.*/
    opacity:0;
}
